@import "tailwindcss";

:root {
  --background: #0d1117;
  --text: #fff;
  --primary: #f72c25;
  --secondary: #4f000b;
  --light-gray: #8d918b;
  --dark-gray: #25292e;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);
  --color-text: var(--text);

  --font-text: var(--font-suse-mono);
  --font-title: var(--font-slab-mono);

  --animate-loading-bar: loading-bar 5s ease-in-out forwards;
  --animate-flicker: flicker 0.5s ease-in-out infinite alternate;

  @keyframes loading-bar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes flicker {
    0% {
      opacity: 0.5;
      transform: translateY(2px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  background: var(--background);
  color: var(--text);
}

* {
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

.flex-center {
  @apply flex items-center justify-center;
}

a,
button,
p,
span,
strong {
  @apply font-text;
}

h1,
h2,
h3,
h4 {
  @apply font-title;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-gray) inset !important;
  -webkit-text-fill-color: #fff !important;
}

button {
  cursor: pointer;
}
